<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Advanced React Application Example</title>
  </head>
  <body>
    <div id="root"><%-initialContent-%></div>

    <script src="/bundle.js" charset="utf-8"></script>
  </body>
</html>
