<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Advanced React Application Example</title>
  </head>
  <script type="text/javascript">
    window.initialData = <%- JSON.stringfy(initialData) %>
  </script>
  <body>
    <div id="root"><%-initialContentMarkup-%></div>

    <script src="/bundle.js" charset="utf-8"></script>
  </body>
</html>
